/*-- scss:defaults --*/
$link-color: royalblue !default;
$link-decoration: none !default;
$link-shade-percentage: 30% !default;
$link-hover-color: shift-color(gold, $link-shade-percentage), !default;
$link-hover-decoration: underline !default;
$nav-tabs-border-color: royalblue;
$nav-tabs-link-active-color: gold;
